@model ParcelDelivery.Models.ServiceViewModel

<h4>Are you sure?</h4>
<div>
    <p>Num.: @Html.DisplayFor(m => m.Id)</p>
    <p>Price: @Html.DisplayFor(m => m.Coast)</p>
    <p>Max weight: @Html.DisplayFor(m => m.MaxWeight)</p>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" class="btn btn-block btn-danger" value="Delete" />
    }
</div>
