@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--==========================
  Intro Section
============================-->
<section id="intro">

    <div class="intro-content">
        <h2>Deliver <span>your parcels</span><br>fast!</h2>
        <div>
            <a href="#about" class="btn-get-started scrollto">About us</a>
            <a href="#portfolio" class="btn-projects scrollto">Our partners</a>
        </div>
    </div>

    <div id="intro-carousel" class="owl-carousel">
        <div class="item" style="background-image: url('/img/intro-carousel/1.jpg');"></div>
        <div class="item" style="background-image: url('/img/intro-carousel/2.jpg');"></div>
        <div class="item" style="background-image: url('/img/intro-carousel/3.jpg');"></div>
        <div class="item" style="background-image: url('/img/intro-carousel/4.jpg');"></div>
        <div class="item" style="background-image: url('/img/intro-carousel/5.jpg');"></div>
    </div>

</section><!-- #intro -->

<main id="main">

<!--==========================
About Section
============================-->
<section id="about" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-img">
                <img src="/img/about-img.jpg" alt="">
            </div>

            <div class="col-lg-6 content">
                <h2>We provide a convenient service for the selection of a suitable carrier.</h2>
                <h3>Thanks to us, you can quickly pick up, based on your criteria, the necessary service.</h3>

                <ul>
                    <li><i class="ion-android-checkmark-circle"></i> We will save your money.</li>
                    <li><i class="ion-android-checkmark-circle"></i> We guarantee fast service.</li>
                    <li><i class="ion-android-checkmark-circle"></i> You will receive a complete list of carriers who will be selected based on your requirements.</li>
                </ul>

            </div>
        </div>

    </div>
</section><!-- #about -->
<!--==========================
Services Section
============================-->
<section id="services">
    <div class="container">
        <div class="section-header">
            <h2>Services</h2>
            <p>We provide services for the selection of a list of freight forwarders that meet the requirements of the customer. The list can be sorted by price or delivery time.</p>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                    <div class="icon"><i class="fa fa-bar-chart"></i></div>
                    <h4 class="title"><a href="">Filter</a></h4>
                    <p class="description">Filter is possible both in price and in time of delivery.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight">
                    <div class="icon"><i class="fa fa-picture-o"></i></div>
                    <h4 class="title"><a href="">Lists</a></h4>
                    <p class="description">The list of carriers is provided based on your requirements. By default it is sorted by price.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                    <h4 class="title"><a href="">Criteria</a></h4>
                    <p class="description">The criteria for selecting the list of freight forwarders are the dimensions of the cargo, the maximum weight, the region of delivery.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-map"></i></div>
                    <h4 class="title"><a href="">Additionally</a></h4>
                    <p class="description">Our system allows you to add additional options according to your requirement.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- #services -->
<!--==========================
Clients Section
============================-->
<section id="clients" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Our customers</h2>
            <p></p>
        </div>

        <div class="owl-carousel clients-carousel">
            <img src="/img/clients/client-1.png" alt="">
            <img src="/img/clients/client-2.png" alt="">
            <img src="/img/clients/client-3.png" alt="">
            <img src="/img/clients/client-4.png" alt="">
            <img src="/img/clients/client-5.png" alt="">
            <img src="/img/clients/client-6.png" alt="">
            <img src="/img/clients/client-7.png" alt="">
            <img src="/img/clients/client-8.png" alt="">
        </div>

    </div>
</section><!-- #clients -->
<!--==========================
Our Portfolio Section
============================-->
<section id="portfolio" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Our partners</h2>
            <p>Today we work with such partners as Euroopt, Prostor, Almi, Green Maple, Belmarket, as well as other companies that need a fast and high-quality service for the selection of a cargo carrier.</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters">

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="/img/portfolio/1.jpg" class="portfolio-popup">
                        <img src="/img/portfolio/1.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">Market space</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="/img/portfolio/2.jpg" class="portfolio-popup">
                        <img src="/img/portfolio/2.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">Evroopt</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="/img/portfolio/3.jpg" class="portfolio-popup">
                        <img src="/img/portfolio/3.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">ALMI</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="./img/portfolio/4.jpg" class="portfolio-popup">
                        <img src="/img/portfolio/4.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">Vitalur</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="/img/portfolio/5.jpg" class="portfolio-popup">
                        <img src="/img/portfolio/5.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">5 element</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="/img/portfolio/6.jpg" class="portfolio-popup">
                        <img src="/img/portfolio/6.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">Electrosila</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="/img/portfolio/7.jpg" class="portfolio-popup">
                        <img src="/img/portfolio/7.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">Belmarket</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item wow fadeInUp">
                    <a href="/img/portfolio/8.jpg" class="portfolio-popup">
                        <img src="/img/portfolio/8.jpg" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2 class="wow fadeInUp">Mart Inn</h2></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</section><!-- #portfolio -->
<!--==========================
Testimonials Section
============================-->
<section id="testimonials" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Feedbacks</h2>
            <p>Testimonials from our customers about the software product itself, how much more convenient and quicker it is for them to select a carrier and how much money they have saved.</p>
        </div>
        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
                <p>
                    <img src="/img/quote-sign-left.png" class="quote-sign-left" alt="">
                    I really liked the simplicity and convenience of using this system. Immediately noticeable savings and time spent looking for a carrier.
                    <img src="/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="/img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Pavel Nortin</h3>
                <h4>CTO</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <img src="/img/quote-sign-left.png" class="quote-sign-left" alt="">
                    Very user-friendly interface, plus free use of the system. It can not be bad.
                    <img src="/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="/img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Elena Burko</h3>
                <h4>Logist</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <img src="/img/quote-sign-left.png" class="quote-sign-left" alt="">
                    I really liked the simplicity and convenience of using this system. Immediately noticeable savings and time spent looking for a carrier.
                    <img src="/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Julia Novikova</h3>
                <h4>Logist</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <img src="/img/quote-sign-left.png" class="quote-sign-left" alt="">
                    Good user support. Very user-friendly interface, plus free use of the system. It's great.
                    <img src="/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Andrew Baldin</h3>
                <h4>Logist</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <img src="/img/quote-sign-left.png" class="quote-sign-left" alt="">
                    It's great. Good user support. Very user-friendly interface, plus free use of the system.
                    <img src="/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="/img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>Вова Ронин</h3>
                <h4>Нач.склада</h4>
            </div>

        </div>

    </div>
</section><!-- #testimonials -->
<!--==========================
Call To Action Section
============================-->
<section id="call-to-action" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">Sign up</h3>
                <p class="cta-text"> Register in the system and become our partners today to benefit from cooperation tomorrow. the system and become our partners today to benefit from cooperation tomorrow.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                @Html.ActionLink("Sign up", "Register", "Account", new { }, new { @class = "cta-btn align-middle viewDialog", data_dialog_title = "Sign up" })
            </div>
        </div>

    </div>
</section><!-- #call-to-action -->
<!--==========================
Our Team Section
============================-->
<section id="team" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Our stuff</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="/img/team-1.jpg" alt=""></div>
                    <div class="details">
                        <h4>Walter White</h4>
                        <span>Owner</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="/img/team-2.jpg" alt=""></div>
                    <div class="details">
                        <h4>Elena Smorohina</h4>
                        <span>Sales manager</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="/img/team-3.jpg" alt=""></div>
                    <div class="details">
                        <h4>Alex Bedenko</h4>
                        <span>Developer</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="/img/team-4.jpg" alt=""></div>
                    <div class="details">
                        <h4>Natalia Burina</h4>
                        <span>Accountant</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- #team -->
<!--==========================
Contact Section
============================-->
<section id="contact" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Call us</h2>
            <p>Come to us on all questions that interest you, our managers will be able to give extremely clear advice.</p>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                <div class="contact-address">
                    <i class="ion-ios-location-outline"></i>
                    <h3>Address</h3>
                    <address>BY, 220025, Minsk, Dzerjinskogo 104-70</address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-phone">
                    <i class="ion-ios-telephone-outline"></i>
                    <h3>Phone</h3>
                    <p><a href="tel:+155895548855">+375 29 6-000-000</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-email">
                    <i class="ion-ios-email-outline"></i>
                    <h3>Email</h3>
                    <p><a href="mailto:info@example.com">info@example.com</a></p>
                </div>
            </div>

        </div>
    </div>

    <div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3140.8694306011316!2d27.47614876714234!3d53.86076503127089!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd07ecbdf73c9%3A0x67599ea9237eac6c!2z0JHQpiDQotC40YLQsNC9INCx0LvQvtC6INCR!5e0!3m2!1sru!2sby!4v1534249599563" width="1920" height="290" frameborder="0" style="border:0" allowfullscreen></iframe></div>

    <div class="container">
        <div class="form">
            <div id="sendmessage">Your e-mail was sent.</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send an email</button></div>
            </form>
        </div>

    </div>
</section><!-- #contact -->

</main>
